<% layout('layout/main') -%>
<% block('title', 'Add') -%>

<form target="/users/addgame/<%= user.id %>"  class="addGame__form" method="POST" >
    <div class="form-group col-md-6 offset-md-3">
      <label for="gameName">Add game</label>
      <input type="text" name="gameName" class="form-control" id="gameName" placeholder="Game Name"  required>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <button type="submit" class="btn btn-info">
        Submit
      </button>
    </div>
</form>